<app-page-header [title]="'Dashboard'" [items]="['Home']" [active_item]="'Admin-Dashboard'"></app-page-header>

<div class="row">
  <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Form Input & Textarea</div>
      </div>
      <div class="card-body">
        <div class="row row-sm">
          <div class="col-lg"><input placeholder="Input box" type="text" class="form-control"></div>
          <div class="col-lg mg-t-10 mg-lg-t-0"><input placeholder="Input box (readonly)" readonly="" type="text"
              class="form-control"></div>
          <div class="col-lg mg-t-10 mg-lg-t-0"><input disabled="" placeholder="Input box (disabled)" type="text"
              class="form-control"></div>
        </div>
      </div>
    </div>
  </div>
</div>