<div class="dropdown nav-item main-header-message" ngbDropdown>
    <a
      ngbDropdownToggle
      class="new nav-link"
      href="javascript:void(0);"
      ><i class="fe fe-mail"></i><span class="pulse-danger"></span
    ></a>
    <div ngbDropdownMenu class="dropdown-menu">
      <div
        class="menu-header-content bg-primary text-start d-flex rounded-top-5"
      >
        <div class="">
          <h6 class="menu-header-title text-white mb-0">
            5 New Messages
          </h6>
        </div>
        <div class="my-auto mg-s-auto">
          <a
            class="badge bg-pill bg-info float-end"
            href="javascript:void(0);"
            >Mark All Read</a
          >
        </div>
      </div>
      <!-- <ng-scrollbar> -->
      <div ngbDropdownItem class="main-message-list ">
        <a
          routerlink="/apps/mail/mail"
          class="p-3 d-flex border-bottom">
          <img
            class="drop-img cover-image"
            src="./assets/img/users/9.jpg"
          >
            <span class="avatar-status bg-teal"></span>
          

          <div class="wd-90p">
            <div class="d-flex">
              <h5 class="mb-1 name">Ahaija Neru</h5>
              <p class="time mb-0 text-end ms-auto float-end">
                20 min ago
              </p>
            </div>
            <p class="mb-0 desc">Are you ready to pickup your Delivery...</p>
          </div>
        </a>
        <a
          routerlink="/apps/mail/mail"
          class="p-3 d-flex border-bottom">
          <img
            class="drop-img cover-image"
            src="./assets/img/users/3.jpg"
          >
            <span class="avatar-status bg-teal"></span>
          

          <div class="wd-90p">
            <div class="d-flex">
              <h5 class="mb-1 name">Gnapi Roliee</h5>
              <p class="time mb-0 text-end ms-auto float-end">
                10 min ago
              </p>
            </div>
            <p class="mb-0 desc">I'm sorry but i'm not sure how...</p>
          </div>
        </a>
        <a
          routerlink="/apps/mail/mail"
          class="p-3 d-flex border-bottom"
        >
          <img
            class="drop-img cover-image" src="./assets/img/users/5.jpg"
          >
            <span class="avatar-status bg-teal"></span>
         
          <div class="wd-90p">
            <div class="d-flex">
              <h5 class="mb-1 name">Petey Cruiser</h5>
              <p class="time mb-0 text-end ms-auto float-end">
                35 min ago
              </p>
            </div>
            <p class="mb-0 desc">I'm sorry but i'm not sure how...</p>
          </div>
        </a>
        <a
          routerlink="/apps/mail/mail"
          class="p-3 d-flex border-bottom"
        >
          <img
            class="drop-img cover-image" src="./assets/img/users/12.jpg"
          >
            <span class="avatar-status bg-danger"></span>
          
          <div class="wd-90p">
            <div class="d-flex">
              <h5 class="mb-1 name">Barney Cull</h5>
              <p class="time mb-0 text-end ms-auto float-end">
                30 min ago
              </p>
            </div>
            <p class="mb-0 desc">Here are some products ...</p>
          </div>
        </a>
        <a
          routerlink="/apps/mail/mail"
          class="p-3 d-flex border-bottom"
        >
          <img
            class="drop-img cover-image" src="./assets/img/users/2.jpg"
          >
            <span class="avatar-status bg-teal"></span>
          
          <div class="wd-90p">
            <div class="d-flex">
              <h5 class="mb-1 name">Sahar Dary</h5>
              <p class="time mb-0 text-end ms-auto float-end">
                13 min ago
              </p>
            </div>
            <p class="mb-0 desc">All set ! Now, time to get to you now......</p>
          </div>
        </a>
      </div>
      <!-- </ng-scrollbar> -->
      <div class="dropdown-footer text-center">
        <a
          routerlink="/apps/mail/mail"
          class="btn btn-primary w-md tx-13"
          >View All<i class="fe fe-arrow-right tx-12 ms-2 lh-1"></i
        ></a>
      </div>
    </div>
  </div>