<!-- main-header -->

<div class="main-header sticky nav nav-item side-header">
  <div class="container-fluid main-container">
    <div class="main-header-left">
      <div class="app-sidebar__toggle mobile-toggle" data-bs-toggle="sidebar" (click)="toggleSidebar()">
        <a class="open-toggle" href="javascript:void(0);">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            class="eva eva-menu-outline header-icons">
            <g data-name="Layer 2">
              <g data-name="menu">
                <rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect>
                <rect x="3" y="11" width="18" height="2" rx=".95" ry=".95"></rect>
                <rect x="3" y="16" width="18" height="2" rx=".95" ry=".95"></rect>
                <rect x="3" y="6" width="18" height="2" rx=".95" ry=".95"></rect>
              </g>
            </g>
          </svg></a>


        <a class="close-toggle" href="javascript:void(0);">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            class="eva eva-close-outline header-icons">
            <g data-name="Layer 2">
              <g data-name="close">
                <rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect>
                <path
                  d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z">
                </path>
              </g>
            </g>
          </svg></a>

      </div>
      <div class="responsive-logo">
        <a href="index.html" class="header-logo"><img src="./assets/img/brand/logo.png" class="logo-11"
            alt="logo" /></a>
        <a href="index.html" class="header-logo"><img src="./assets/img/brand/logo-white.png" class="logo-1"
            alt="logo" /></a>
      </div>
    </div>
    <button class="navbar-toggler nav-link icon navresponsive-toggler vertical-icon ms-auto" type="button"
      data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed">
      <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
    </button>
    <div class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0 mg-lg-s-auto">
      <div class="collapse navbar-collapse" id="navbarSupportedContent-4" #collapse="ngbCollapse"
        [(ngbCollapse)]="isCollapsed" [horizontal]="false">
        <div class="main-header-right">
          <app-dark-lite-theme></app-dark-lite-theme>
          <div class="nav nav-item navbar-nav-right mg-lg-s-auto">
            <app-full-screen></app-full-screen>
            <app-notifications></app-notifications>
            <app-email-notifications></app-email-notifications>
            <app-shortcuts></app-shortcuts>
            <app-user-profile-nav></app-user-profile-nav>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="d-flex header-setting-icon" (click)="toggleSwitcher()">
      <a class="nav-link icon demo-icon" href="javascript:void(0)">
        <i class="fe fe-settings"></i>
      </a>
    </div> -->
  </div>
</div>
<!-- /main-header -->